:root {
    --font-sans-serif: Inter, sans-serif;
    --black: #000;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
*Typography
*/

body {
    font-family: var(--font-sans-serif);
    line-height: 1.2;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: var(--font-sans-serif);
    line-height: 0.9;
}

h1 {
    font-size: 7rem;
    font-weight: 650;
}

h2 {
    font-size: 3.5rem;
    font-weight: 550;
}

h3 {
    font-size: 2.8rem;
    font-weight: 550;
}

h4 {
    font-size: 2rem;
    font-weight: 450;
}

img {
    max-width: 100%;
    display: block;
}

.page__heading {
    font-size: 2rem;
    font-weight: 550;
}

/**
*Components
*/

.components__name {
    font-size: 2rem;
    font-weight: 550;
}

.components img {
    max-width: initial;
}

.components__img {
    border: 1px solid black;
    overflow-x: auto;
    padding: 10px;
}

.components__code {
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}

/**
*Components - NAVBAR
*/

.main-nav {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.main-nav__logo {
    height: auto;
    line-height: 0.9;
    display: inline-block;
    white-space: normal;
}

.main-nav__menu {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.main-nav__menu a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: color 0.3s;
  white-space: nowrap;
}

.main-nav__menu a:hover {
  text-decoration: underline;
}

/**
*Components - HERO
*/
.hero__title-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: Inter, sans-serif;
}

.hero__static {
  font-size: 6rem;
  font-weight: 600;
}

.hero__viewport {
  height: 6rem;
  overflow: hidden;
  position: relative;
}

.hero__word-track {
  display: flex;
  flex-direction: column;

  animation: slideUp 6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.hero__word-track span {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}

/* KEY ANIMATION */
@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-87.5%);
  }
}
/**
*Components - COVER
*/
.cover__text {
    font-size: 7rem;
    font-weight: 650;
}

.cover__img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  display: block;
}

/**
*Components - CLIENT STRIP
*/


/**
*Components - CURSOR
*/

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}