<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Web Components | dots and lines Case Study</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="../css/main.css"/>
    
    
  </head>
  <body>
    <nav class="sidebar">
        <h3 class="sidebar__logo">
            <span>dots</span>
            <span>and</span>
            <span>lines</span>
        </h3>
        <a class="website__link" href="https://www.dotsandlines.io/" target="_blank" rel="noopener noreferrer">dotsandlines.io</a>
        <p class="sidebar__title">Components</p>
        <ul class="sidebar__list">
            <li><a href="#typography">typography</a></li>
            <li><a href="#heading">heading</a></li>
            <li><a href="#navbar">nav bar</a></li>
            <li><a href="#hero">hero</a></li>
            <li><a href="#cover">cover</a></li>
            <li><a href="#client-strip">client strip</a></li>
            <li><a href="#button">button</a></li>
            <li><a href="#project-cards">project cards</a></li>
            <li><a href="#service-list">service list</a></li>
            <li><a href="#testimonials">testimonials</a></li>
            <li><a href="#image-swap">image swap</a></li>
            <li><a href="#footer">footer</a></li>
            <li><a href="#sticky-banner">sticky banner</a></li>
            <li><a href="#trailing-cursor">trailing cursor</a></li>
        </ul>
        <div class="backto__top">
        <a class ="backto__top-text" href="#backto-top">BACK TO TOP ⇪</a>
        </div>
    </nav>

    <h1 class="page__heading" id="backto-top">Web Components</h1>
    <p class="page__description">This is a collection of components based on my study of the design system of the dotsandlines website.</p>

<!-- TYPOGRAPHY -->
    <article class="components" id="typography">
        <h3 class="components__name">Typography Default</h3>
        <h3 class="typography__type">body</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img src="img/copy_body.png" alt="copy body"/>
        </div>
        <div class="components__code">
        <p class="components__label">CODE</p>
        <p>Markenkommunikation<br>
        Markenkampagnen<br>
        Employer Branding<br>
        Markenerlebnisse im Raum<br>
        Brand Engagement</p>
    </div>
    </article>

<!-- COMPONENTS -->
<!-- COMPONENTS HEADING -->
    <article class="components" id="heading">
        <h3 class="typography__type">heading (h1, h2, h3...)</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/head1.png 2x" src="img/head1.png" alt="Heading 1"/>
            <img srcset="img/head4.png 2x" src="img/head2.png" alt="Heading 2"/>
            <img srcset="img/head3.png 2x" src="img/head3.png" alt="Heading 3"/>
            <img srcset="img/head2.png 2x" src="img/head4.png" alt="Heading 4"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <h1>and<br>solutions</h1>
            <h2>Was wir machen</h2>
            <h3>List Holding</h3>
            <h4>Worauf wir stolz sind</h4>
    </div>
    </article>

<!-- COMPONENTS MAIN NAV-->
    <article class="components" id="navbar">
        <h3 class="components__name">Nav Bar</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/main_nav.png 2x" src="img/main_nav.png" alt="Nav Bar"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <div class="main-nav">
                <nav class="main-nav__container">
                    <div class="main-nav__logo">
                        <span>dots</span><br>
                        <span>and</span><br>
                        <span>lines</span>
                    </div>
                    <div class="main-nav__menu">
                    <a href="#">contact</a>
                    <a href="#">menu</a>
                    </div>
                </nav>
            </div>
        </div>
    </article>

<!-- COMPONENTS HERO-->
<article class="components" id="hero">
        <h3 class="components__name">Hero</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/cover_section1.png 2x" src="img/cover_section1.png" alt="Hero"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <div class="hero__title-wrap">
            <div class="hero__static">and</div>
            <div class="hero__viewport">
                <div class="hero__word-track">
                <span>dots</span>
                <span>lines</span>
                <span>strategy</span>
                <span>identity</span>
                <span>experience</span>
                <span>technology</span>
                <span>activation</span>
                <span>solutions</span>
                </div>
            </div>
            </div>
            </div>
    </article>

<!-- COMPONENTS COVER-->
    <article class="components" id="cover">
        <h3 class="components__name">Cover</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/cover_section3.png 2x" src="img/cover_section3.png" alt="Cover"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <img class="cover__img" src="../../dotsandlines-case-study/img/video_placement.png" alt="Video Placement"/>
            <p class="cover__text">Wir gestaltenLösungen für Menschen, Marken & digitale Produkte.</p>
        </div>
    </article>

    <!-- COMPONENTS CLIENT STRIP-->
    <article class="components" id="client-strip">
        <h3 class="components__name">Client Strip</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/client_list.png 2x" src="img/client_list.png" alt="Client List"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <p class="client__list-title">Ausgewählte Kund:innen</p>
            <div class="logo-strip">
                <div class="logo-track">
                    <img src="../../dotsandlines-case-study/img/logo_ikea.png" alt="Ikea Logo">
                    <img src="../../dotsandlines-case-study/img/logo_generali.png" alt="Generali Logo">
                    <img src="../../dotsandlines-case-study/img/logo_efa.png" alt="EFA Logo">

                    <img src="../../dotsandlines-case-study/img/logo_ikea.png" alt="Ikea Logo">
                    <img src="../../dotsandlines-case-study/img/logo_generali.png" alt="Generali Logo">
                    <img src="../../dotsandlines-case-study/img/logo_efa.png" alt="EFA Logo">
                </div>
                </div>
        </div>
    </article>


<!-- COMPONENTS BUTTON-->
    <article class="components" id="button">
        <h3 class="components__name">Button</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/button.png 2x" src="img/button.png" alt="Button"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <div class="button">
            <a href="#" class="button__solutions">all solutions ↗ </a>
            </div>
        </div>
    </article>

<!-- COMPONENTS PROJECT CARDS-->
    <article class="components" id="project-cards">
        <h3 class="components__name">Project Cards</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/project_card.png 2x" src="img/project_card.png" alt="Project Cards"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <div class="projects">
            <div class="project__cards">
                <div class="project__img-wrap">
                    <img class="project__img" src="../../dotsandlines-case-study/img/project_card.png" alt="Project Cards">
                </div>
                <h2>List Holding</h2>
                <p>Industrie &amp; Innovation</p>
            </div>
            <div class="project__cards">
                <div class="project__img-wrap">
                    <img class="project__img" src="../../dotsandlines-case-study/img/project_card.png" alt="Project Cards">
                </div>
                <h2>List Holding</h2>
                <p>Industrie &amp; Innovation</p>
            </div>
            <div class="project__cards">
                <div class="project__img-wrap">
                    <img class="project__img" src="../../dotsandlines-case-study/img/project_card.png" alt="Project Cards">
                </div>
                <h2>List Holding</h2>
                <p>Industrie &amp; Innovation</p>
            </div>
        </div>
        </div>
    </article>

<!-- COMPONENTS SERRVICE LIST-->
    <article class="components" id="service-list">
        <h3 class="components__name">Service List</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/services.png 2x" src="img/services.png" alt="Service List"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <section class="services">
                <h2 class="services__heading">Was wir machen</h2>
                <div class="services__layout">
                    
                    <!-- LEFT: service names -->
                    <ul class="services__list">
                        <li class="services__item active" data-index="0">
                            <span class="services__num">01</span>
                            <span class="services__name">strategy</span>
                            <span class="services__dot">●</span>
                        </li>
                        <li class="services__item" data-index="1">
                            <span class="services__num">02</span>
                            <span class="services__name">identity</span>
                            <span class="services__dot">●</span>
                        </li>
                        <li class="services__item" data-index="2">
                            <span class="services__num">03</span>
                            <span class="services__name">experience</span>
                            <span class="services__dot">●</span>
                        </li>
                        <li class="services__item" data-index="3">
                            <span class="services__num">04</span>
                            <span class="services__name">technology</span>
                            <span class="services__dot">●</span>
                        </li>
                        <li class="services__item" data-index="4">
                            <span class="services__num">05</span>
                            <span class="services__name">activation</span>
                            <span class="services__dot">●</span>
                        </li>
                    </ul>

                    <!-- MIDDLE: sub-items -->
                    <div class="services__details">
                        <div class="services__subitems active" data-index="0">
                            <p>Research & Insights</p>
                            <p>Markenstrategie & Beratung</p>
                            <p>Customer Journey Mapping</p>
                            <p>Markenarchitektur</p>
                            <p>Markenpositionierung</p>
                            <p>Brand Story</p>
                            <p>Naming</p>
                        </div>
                        <div class="services__subitems" data-index="1">
                            <p>Corporate Design</p>
                            <p>Logogestaltung</p>
                            <p>Typografie & Farbkonzept</p>
                            <p>Visuelles Storytelling</p>
                            <p>Verbale Identität</p>
                            <p>Copywriting</p>
                            <p>Brandbook & Brand Guidelines</p>
                        </div>
                        <div class="services__subitems" data-index="2">
                            <p>User Research</p>
                            <p>User Experience Design</p>
                            <p>User Interface Design</p>
                            <p>Visual Prototyping</p>
                            <p>Design Systems</p>
                            <p>Web Design</p>
                        </div>
                        <div class="services__subitems" data-index="3">
                            <p>Software Architektur</p>
                            <p>Native App Development</p>
                            <p>Web App Development</p>
                            <p>Infrastructure & Hosting</p>
                            <p>Web Development</p>
                            <p>KI-Beratung</p>
                        </div>
                        <div class="services__subitems" data-index="4">
                            <p>Markenkommunikation</p>
                            <p>Markenkampagnen</p>
                            <p>Employer Branding</p>
                            <p>Markenerlebnisse im Raum</p>
                            <p>Brand Engagement</p>
                        </div>
                    </div>

                    <!-- RIGHT: image -->
                    <div class="services__image">
                        <img src="../../dotsandlines-case-study/img/serviceimg.png" alt="strategy" />
                    </div>
                </div>
            </section>
        </div>
    </article>

<!-- TESTIMONIALS-->
    <article class="components" id="testimonials">
        <h3 class="components__name">Testimonials</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/testimonials.png 2x" src="img/testimonials.png" alt="Testimonials"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <section class="testimonials">
                <div class="testimonials__track">
                <div class="testimonials__card">
                    <div class ="testimonials__body">
                        <p class="testimonials__text">Full Service, Co-Creation und Kundenorientierung auf höchsten Niveau.</p>
                        <div class="testimonials__quote">"</div>
                    </div>
                        <div class="testimonials__author">
                            <strong>Toblas Schaller</strong>
                            <span>Managing Director, moveblue</span>
                        </div>
                </div>
                <div class="testimonials__card">
                    <div class ="testimonials__body">
                        <p class="testimonials__text">Full Service, Co-Creation und Kundenorientierung auf höchsten Niveau.</p>
                        <div class="testimonials__quote">"</div>
                    </div>
                        <div class="testimonials__author">
                            <strong>Toblas Schaller</strong>
                            <span>Managing Director, moveblue</span>
                        </div>
                </div>
                <div class="testimonials__card">
                    <div class ="testimonials__body">
                        <p class="testimonials__text">Full Service, Co-Creation und Kundenorientierung auf höchsten Niveau.</p>
                        <div class="testimonials__quote">"</div>
                    </div>
                        <div class="testimonials__author">
                            <strong>Toblas Schaller</strong>
                            <span>Managing Director, moveblue</span>
                        </div>
                    </div>
                </div>
                <div class="testimonials__footer">
                    <a href="#" class="testimonials__cta">partnerschaft anfragen ↗</a>
                </div>
            </section>
        </div>
    </article>

<!-- COMPONENTS IMG SWAP-->
<article class="components" id="image-swap">
    <h3 class="components__name">Image Swap</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/imgswap.png 2x" src="img/imgswap.png" alt="Image Swap"/>
        </div>
    <div class="components__code">
        <p class="components__label">CODE</p>
        <div class="img-swap__combo">
            <p class="img-swap__text">and</p>
            <div class="img-swap">
                <img class="img-swap__default" src="../../dotsandlines-case-study/img/you.jpeg" alt="default"/>
                <img class="img-swap__hover" src="../../dotsandlines-case-study/img/you1.jpeg" alt="hover 1"/>
                <img class="img-swap__hover" src="../../dotsandlines-case-study/img/you2.jpeg" alt="hover 2"/>
                <img class="img-swap__hover" src="../../dotsandlines-case-study/img/you3.jpeg" alt="hover 3"/>
                <img class="img-swap__hover" src="../../dotsandlines-case-study/img/you4.jpeg" alt="hover 4"/>
            </div>
        </div>
    </div>
</article>

<!-- COMPONENTS FOOTER-->
<article class="components" id="footer">
    <h3 class="components__name">Footer</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/footer.png 2x" src="img/footer.png" alt="Footer"/>
        </div>
    <div class="components__code">
        <p class="components__label">CODE</p>
        <div class="footer">
        <div class="footer__logo">
            <span>dots</span>
            <span>and</span>
            <span>lines</span>
        </div>
        <ul class="footer__list">
            <li class="footer__list-items"><a href="#">services</a></li>
            <li class="footer__list-items"><a href="#">people</a></li>
            <li class="footer__list-items"><a href="#">solutions</a></li>
            <li class="footer__list-items"><a href="#">jobs</a></li>
            <li class="footer__list-items"><a href="#">contact</a></li>
        </ul>
        <ul class="footer__list">
            <li class="footer__list-items"><a href="#">linkedin</a></li>
            <li class="footer__list-items"><a href="#">instagram</a></li>
            <li class="footer__list-items"><a href="#">impressum</a></li>
            <li class="footer__list-items"><a href="#">agb</a></li>
            <li class="footer__list-items"><a href="#">datenschutz</a></li>
            <li class="footer__list-items"><a href="#">cookie einstellugen</a></li>
        </ul>
        <ul class="footer__list">
            <li class="footer__list-items"><a href="#">office@dotsandlines.io</a></li>
            <li class="footer__list-items"><a href="#">+4318908093</a></li>
        </ul>
        <p class="footer__credit">©dotsandlines 2026</p>
        </div>
    </div>
</article>

<!-- COMPONENTS STICKY BANNER-->
    <article class="components" id="sticky-banner">
        <h3 class="components__name">Sticky Banner</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/stickybanner.png 2x" src="img/stickybanner.png" alt="Sticky Banner"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <p>Pinned to bottom. Click X to close or refresh to see banner again.</p>
            <div class="banner">
                <p class="banner__heading">
                    <span>Du stehst vor strategischen</span>
                    <span>und kreativen</span>
                    <span>Herausforderungen?</span>
                </p>
                <p class="banner__text">Lass uns näher darüber sprechen. Jetzt kostenloses Erstgespräch anfragen.</p>
                <div class="banner__actions">
                    <a href="#" class="banner__cta">Termin vereinbaren ↗ </a>
                    <button class="banner__close">x</button>
                </div>
            </div>
        </div>
    </article>
            
<!-- COMPONENTS CURSOR-->
    <article class="components" id="trailing-cursor">
        <h3 class="components__name">Trailing Cursor</h3>
        <div class="components__img">
            <p class="components__label">SCREENSHOT</p>
            <img srcset="img/cursordot.png 2x" src="img/cursordot.png" alt="Trailing Cursor"/>
        </div>
        <div class="components__code">
            <p class="components__label">CODE</p>
            <div class="cursor"></div>
            <p> Please move your cursor around to see effect</p>
        </div>
    </article>


<script>
const cursor = document.querySelector('.cursor');

let mouseX = 0;
let mouseY = 0;

let posX = 0;
let posY = 0;

window.addEventListener('mousemove', (e) => {
  mouseX = e.clientX;
  mouseY = e.clientY;
});

function animate() {
  posX += (mouseX - posX) * 0.08;
  posY += (mouseY - posY) * 0.08;

  cursor.style.left = posX + 'px';
  cursor.style.top = posY + 'px';

  requestAnimationFrame(animate);
}

animate();

document.querySelectorAll('.img-swap').forEach(swap => {
    const imgs = swap.querySelectorAll('img');
    let current = 0;

    swap.addEventListener('mouseenter', () => {
        imgs[current].style.opacity = 0;
        current = (current + 1) % imgs.length;
        imgs[current].style.opacity = 1;
    });
});

document.querySelector('.banner__close').addEventListener('click', () => {
    document.querySelector('.banner').style.display = 'none';
});

const sections = document.querySelectorAll('.components[id]');
const navLinks = document.querySelectorAll('.sidebar__list a');

window.addEventListener('scroll', () => {
    let current = '';

    sections.forEach(section => {
        if (window.scrollY >= section.offsetTop - 100) {
            current = section.getAttribute('id');
        }
    });

    navLinks.forEach(link => {
        link.classList.remove('active');
        if (link.getAttribute('href') === `#${current}`) {
            link.classList.add('active');
        }
    });
});

</script>
  </body>
</html>